<div class="property-grid">
    <label>{{localize 'Type'}}</label>
    <select name="data.type"
            data-dtype="String">
        {{#select data.type}}
        <option value="armor">{{ localize 'FL.ArmorTypeArmor' }}</option>
        <option value="helmet">{{localize 'FL.ArmorTypeHelmet'}}</option>
        <option value="shield">{{localize 'FL.ArmorTypeShield'}}</option>
        {{/select}}
    </select>
    {{#if (ne data.type 'shield')}}
    <label>{{localize 'FL.ArmorRating'}}</label>
    <input type="number"
           name="data.rating"
           data-dtype="Number"
           value="{{data.rating}}"/>
    {{/if}}
    {{> (assetPath 'templates/gear-details.handlebars')}}
</div>
