<span class="attribute">
    <header{{#if (eq value 0)}} class="broken"{{/if}}>
        <label>{{label}}</label>
        {{counterBar name=(concat 'data.attributes.' name)
                     hardLimit=6
                     style='attribute'}}
    </header>

    {{!-- SKILLS --}}
    <ul>
        {{#each skills}}
        <li class="skill" style="background-position-x: {{random 15 85 name}}%;">
            <a class="roll-button"
               data-skill="{{name}}">
                <code>{{label}}</code>
            </a>
            {{counterBar name=(concat 'data.skills.' name)
                         hardLimit=5
                         offClass='hidden'}}
        </li>
        {{/each}}
    </ul>
</span>
