<form class="{{cssClass}}" autocomplete="off">

    <header>
        <div class="character-overview">
            <span class="attribute-column">
                {{#with attributes.strength}}
                    {{> (assetPath 'templates/attribute.handlebars')}}
                {{/with}}
                {{#with attributes.agility}}
                    {{> (assetPath 'templates/attribute.handlebars')}}
                {{/with}}
            </span>

            <span class="profile-image-wrapper">
                <div class="profile-image">
                    <div class="image">
                        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
                        <div></div>
                    </div>
                    <label class="center">
                        <input type="text"
                               name="name"
                               data-dtype="String"
                               value="{{actor.name}}"
                               placeholder="Name"/>
                    </label>
                </div>
            </span>

            <span class="attribute-column">
                {{#with attributes.wits}}
                    {{> (assetPath 'templates/attribute.handlebars')}}
                {{/with}}
                {{#with attributes.empathy}}
                    {{> (assetPath 'templates/attribute.handlebars')}}
                {{/with}}
            </span>
        </div>
        <nav class="tabs" data-group="primary">
            <a class="item active" data-tab="character"><h5>{{localize 'FL.Character'}}</h5></a>
            <a class="item" data-tab="conditions-and-talents"><h5>{{localize 'FL.ConditionsAndTalents'}}</h5></a>
            <a class="item" data-tab="items"><h5>{{localize 'FL.Items'}}</h5></a>
        </nav>
    </header>

    <section class="sheet-body">
        {{!-- CHARACTER TAB --}}
        <div class="tab" data-group="primary" data-tab="character">
            <div class="character">
                <div>
                    <span>
                        <div>
                            <label>{{localize 'FL.Pride'}}</label>
                            {{editor content=data.pride target="data.pride" button=true owner=owner editable=editable}}
                        </div>
                        <div>
                            <label>{{localize 'FL.DarkSecret'}}</label>
                            {{editor content=data.darkSecret target="data.darkSecret" button=true owner=owner editable=editable}}
                        </div>
                        <div>
                            <span>
                                <label>{{localize 'FL.Age'}}</label>
                                <input type="text"
                                       name="data.age"
                                       data-dtype="String"
                                       value="{{data.age}}"/>
                            </span>
                            <span>
                                <label>{{localize 'FL.Reputation'}}</label>
                                <input type="number"
                                       name="data.reputation.value"
                                       data-dtype="Number"
                                       value="{{data.reputation.value}}"/>
                            </span>
                        </div>
                    </span>
                    <span>
                        <label>{{localize 'FL.Appearance'}}</label>
                        {{editor content=data.appearance target="data.appearance" button=true owner=owner editable=editable}}
                    </span>
                </div>
                <div>
                    <label>{{localize 'FL.Relationships'}}</label>
                    <!-- TODO -->
                </div>
                <div>
                    <label>{{localize 'FL.Notes'}}</label>
                    {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- CONDITIONS AND TALENTS TAB --}}
        <div class="tab active" data-group="primary" data-tab="conditions-and-talents">
            <div class="conditions-and-talents">
                <span>
                    {{!-- CONDITIONS --}}
                    <div class="conditions">
                        {{!-- SLEEPLESS --}}
                        <label class="condition sleepless-condition">
                            <input type="checkbox"
                                   name="data.conditions.sleepless"
                                   data-dtype="Boolean"
                                   {{checked data.conditions.sleepless}}>
                            <img class="color"   src="{{assetPath 'ui/conditions/sleepless-color.png'}}">
                            <img class="lineart" src="{{assetPath 'ui/conditions/sleepless.svg'}}">
                            <span>{{localize 'FL.Sleepless'}}</span>
                        </label>

                        {{!-- THIRSTY --}}
                        <label class="condition thirsty-condition">
                            <input type="checkbox"
                                   name="data.conditions.thirsty"
                                   data-dtype="Boolean"
                                   {{checked data.conditions.thirsty}}>
                            <img class="color"   src="{{assetPath 'ui/conditions/thirsty-color.png'}}">
                            <img class="lineart" src="{{assetPath 'ui/conditions/thirsty.svg'}}">
                            <span>{{localize 'FL.Thirsty'}}</span>
                        </label>

                        {{!-- HUNGRY --}}
                        <label class="condition hungry-condition">
                            <input type="checkbox"
                                   name="data.conditions.hungry"
                                   data-dtype="Boolean"
                                   {{checked data.conditions.hungry}}>
                            <img class="color"   src="{{assetPath 'ui/conditions/hungry-color.png'}}">
                            <img class="lineart" src="{{assetPath 'ui/conditions/hungry.svg'}}">
                            <span>{{localize 'FL.Hungry'}}</span>
                        </label>

                        {{!-- COLD --}}
                        <label class="condition cold-condition">
                            <input type="checkbox"
                                   name="data.conditions.cold"
                                   data-dtype="Boolean"
                                   {{checked data.conditions.cold}}>
                            <img class="color"   src="{{assetPath 'ui/conditions/cold-color.png'}}">
                            <img class="lineart" src="{{assetPath 'ui/conditions/cold.svg'}}">
                            <span>{{localize 'FL.Cold'}}</span>
                        </label>
                    </div>

                    {{!-- AFFLICTIONS --}}
                    <div class="item-grid affliction-grid">
                        <span class="header">
                            <h4>{{localize 'FL.Affliction'}}</h4>
                            <span class="item-controls">
                                {{! TODO }}
                                <a class="item-control item-create"
                                   title="{{localize 'FL.Create'}}"
                                   data-type="criticalInjury">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                <a class="item-control item-create"
                                   title="{{localize 'FL.Create'}}"
                                   data-type="disease">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                            </span>
                        </span>
                    {{#each afflictions}}
                    {{#if (eq type 'criticalInjury')}}
                        <span data-item-id="{{_id}}"
                              class="item critical-injury"
                              style="background-position-x: {{random 15 85 _id}}%;">
                            {{!--<div class="item-image" style="background-image: url('{{img}}')"></div>--}}
                            <span class="space-between">
                                <a class="item-name" title="{{localize 'FL.Edit'}}">{{name}}</a>
                                <a class="action inline critical-injury-state">{{{data.stateText}}}</a>
                            </span>
                            <span class="item-controls">
                                <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
                            </span>
                            {{#if data.lethal}}
                            <a class="line action critical-injury-lethal">
                                {{~localize 'FL.LethalActionRequired'}}
                                {{#if (ne data.lethalModifier 0)}}
                                ({{numberFormat data.lethalModifier sign=true}})
                                {{/if}}
                                <i class="fas fa-check"></i>
                            </a>
                            {{/if}}
                            <span class="line inline-rich-text">
                                {{{data.description}}}
                            </span>
                        </span>
                    {{else}}
                        <span data-item-id="{{_id}}"
                              class="item disease"
                              style="background-position-x: {{random 15 85 _id}}%;">
                            {{!--<div class="item-image" style="background-image: url('{{img}}')"></div>--}}
                            <span class="space-between">
                                <a class="item-name" title="{{localize 'FL.Edit'}}">{{name}}</a>
                                <span>{{localize 'FL.Virulence'}}&MediumSpace;{{data.virulence}}</span>
                            </span>
                            <span class="item-controls">
                                <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
                            </span>
                            <a class="line action sickness-roll">
                                {{~localize 'FL.DailySicknessRoll'}}
                                <i class="fas fa-dice"></i>
                            </a>
                            <span class="line inline-rich-text">
                                {{{data.description}}}
                            </span>
                        </span>
                    {{/if}}
                    {{/each}}
                    </div>
                </span>
                <span>
                    {{!-- TALENTS & SPELLS --}}
                    <div class="item-grid talent-and-spell-grid">
                        <span class="header talent">
                            <h4>{{localize 'FL.Talent'}}</h4>
                            <span>{{localize 'FL.Rank'}}</span>
                            <span>{{localize 'FL.TalentType'}}</span>
                            <span class="item-controls">
                                <a class="item-control item-create"
                                   title="{{localize 'FL.Create'}}"
                                   data-type="talent">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                            </span>
                        </span>
                    {{#*inline 'talent'}}
                    {{! Parameters: header }}
                        <span data-item-id="{{_id}}"
                              class="{{#if header}}header {{/if}}item talent"
                              style="background-position-x: {{random 15 85 _id}}%;">
                            {{!--<div class="item-image" style="background-image: url('{{img}}')"></div>--}}
                            <a class="item-name" title="{{localize 'FL.Edit'}}">{{name}}</a>
                            <span>
                                {{data.rank}}
                            </span>
                            <span>
                                {{data.typeLabel}}
                            </span>
                            <span class="item-controls">
                                <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
                            </span>
                        </span>
                    {{/inline}}
                    {{#each otherTalents}}
                        {{> talent}}
                    {{/each}}
                    {{#*inline 'itemHeaderControls'}}
                    {{! Parameters: type }}
                        <a class="item-control toggle-button"
                           title="{{localize 'FL.EnableDelete'}}"
                           data-name="data.ui.enableDelete">
                        {{#if data.ui.enableDelete}}
                            <i class="fas fa-lock-open"></i>
                        {{else}}
                            <i class="fas fa-lock"></i>
                        {{/if}}
                        </a>
                        <a class="item-control item-create"
                           title="{{localize 'FL.Create'}}"
                           data-type="{{type}}">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    {{/inline}}
                        <span class="header spell">
                            <h4>{{localize 'FL.Spell'}}</h4>
                            <span>{{localize 'FL.Rank'}}</span>
                            <span>{{localize 'FL.SpellIngredients'}}</span>
                            <span></span>
                            <span class="item-controls">
                                <a class="item-control toggle-button"
                                   title="{{localize 'FL.HiddenSpells'}}"
                                   data-name="data.ui.hiddenSpellsVisible">
                                {{#if data.ui.hiddenSpellsVisible}}
                                    <i class="fas fa-eye"></i>
                                {{else}}
                                    <i class="fas fa-eye-slash"></i>
                                {{/if}}
                                </a>
                                {{> itemHeaderControls type='spell'}}
                            </span>
                        </span>
                    {{#*inline 'spell'}}
                        <span data-item-id="{{_id}}"
                              class="item spell {{data.cssClass}}"
                              style="background-position-x: {{random 15 85 _id}}%;">
                            {{!--<div class="item-image" style="background-image: url('{{img}}')"></div>--}}
                            <a class="item-name" title="{{localize 'FL.Edit'}}">{{name}}</a>
                            <span>
                                {{data.rank}}
                            </span>
                            <span>
                                {{data.ingredients}}
                            </span>
                            <span class="feature-list">
                                {{#if (ne data.type 'spell')}}
                                {{#with (lookup @root.constants.spellTypes data.type)}}
                                <code title="{{description}}">{{label}}</code>
                                {{/with}}
                                {{/if}}

                                {{#if data.inGrimoire}}
                                <code>{{localize 'FL.SpellInGrimoire'}}</code>
                                {{/if}}
                            </span>
                            <span class="item-controls">
                                <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
                            </span>
                        </span>
                    {{/inline}}
                    {{#each generalSpells}}
                        {{> spell}}
                    {{/each}}
                    {{#each magicTalents}}
                        {{> talent header=true}}
                        {{#each data.spells}}
                            {{> spell}}
                        {{/each}}
                    {{/each}}
                    </div>

                    <div class="willpower-and-experience">
                        {{!-- WILLPOWER --}}
                        <span class="willpower">
                            <label>{{localize 'FL.Willpower'}}</label>
                            {{counterBar name='data.willpower'
                                         hardLimit=10}}
                        </span>

                        {{!-- EXPERIENCE --}}
                        <span class="experience">
                            <label>{{localize 'FL.Experience'}}</label>
                            {{counterBar name='data.experience'
                                         hardLimit=25}}
                        </span>
                    </div>
                </span>
            </div>
        </div>

        {{!-- ITEMS TAB --}}
        <div class="tab" data-group="primary" data-tab="items">
            <div class="items">
                <div class="item-grid gear-grid">
                {{#> gearGrid type='weapon' label='FL.Weapon' extraColumnLabels=(array 'FL.Damage' 'FL.Features')}}
                    {{#*inline 'grip'}}
                        <code>
                            {{#if data.needsTwoHands}}2{{else}}1{{/if}}
                            {{localize 'FL.GripHandLetter'}}
                        </code>
                    {{/inline}}
                    {{#*inline 'extraColumns'}}
                        {{counterBar class='successes'
                                     itemId=_id
                                     name='data.damage'
                                     omit='off'
                                     editable=false}}
                        <span class="feature-list">
                            {{#with (lookup @root.constants.rangeTypes data.range)}}
                            <code>{{label}}</code>
                            {{/with}}
                            {{#each data.features}}
                            {{#with (lookup @root.constants.features this)}}
                            <code>{{label}}</code>
                            {{/with}}
                            {{/each}}
                            {{#data.customFeature}}
                            <span class="inline-rich-text">{{{.}}}</span>
                            {{/data.customFeature}}
                        </span>
                    {{/inline}}
                {{/gearGrid}}
                {{#> gearGrid type='armor' label='FL.Armor'}}
                    {{#*inline 'grip'}}
                        <i class="fas fa-tshirt"></i>
                    {{/inline}}
                    {{#*inline 'bonusExtra'}}
                        {{#data.customFeature}}
                        <span class="inline-rich-text">
                            {{{.}}}
                        </span>
                        {{/data.customFeature}}
                    {{/inline}}
                {{/gearGrid}}
                {{#> gearGrid type='equipment' label='FL.Gear'}}
                    {{#*inline 'grip'}}
                        <i class="fas fa-hand-paper"></i>
                    {{/inline}}
                    {{#*inline 'bonusExtra'}}
                        {{#data.customFeature}}
                        <span class="inline-rich-text">
                            {{{.}}}
                        </span>
                        {{/data.customFeature}}
                    {{/inline}}
                {{/gearGrid}}
                </div>
                <footer>
                    <div class="coins">
                        <span class="coin-stack">
                            {{counterBar class='gold-coins'
                                         name='data.coins.gold'
                                         hardLimit=30
                                         style='coin'
                                         omit='off'
                                         placeholder=true}}
                            <input type="text"
                                   name="data.coins.gold"
                                   data-dtype="Number"
                                   value="{{data.coins.gold}}"/>
                            <label>{{localize 'FL.Gold'}}</label>
                        </span>
                        <span class="coin-stack">
                            {{counterBar class='coin-stack silver-coins'
                                         name='data.coins.silver'
                                         hardLimit=30
                                         style='coin'
                                         omit='off'
                                         placeholder=true}}
                            <input type="text"
                                   name="data.coins.silver"
                                   data-dtype="Number"
                                   value="{{data.coins.silver}}"/>
                            <label>{{localize 'FL.Silver'}}</label>
                        </span>
                        <span class="coin-stack">
                            {{counterBar class='coin-stack copper-coins'
                                         name='data.coins.copper'
                                         hardLimit=30
                                         style='coin'
                                         omit='off'
                                         placeholder=true}}
                            <input type="text"
                                   name="data.coins.copper"
                                   data-dtype="Number"
                                   value="{{data.coins.copper}}"/>
                            <label>{{localize 'FL.Copper'}}</label>
                        </span>
                    </div>
                    <div class="resources">
                    {{#each resourceList}}
                        <div class="resource resource-{{name}}">
                            <label>{{label}}</label>
                            <a class="dice die-selection"
                               data-name="data.resources.{{name}}.die"
                               data-die-types="0,6,8,10,12"></a>
                            {{#if (gt die 0)}}
                            <img class="color"   src="{{imageColor}}">
                            {{/if}}
                            <img class="lineart" src="{{imageLineart}}">
                        </div>
                    {{/each}}
                    </div>
                </footer>
            </div>
        </div>
    </section>

</form>
