<div class="property-grid">
    <label>{{localize 'FL.Lethal'}}</label>
    <span>
        <input type="checkbox"
               name="data.lethal"
               data-dtype="Boolean"
               {{checked data.lethal}}/>
        {{#if data.lethal}}
        <input type="number"
               name="data.lethalModifier"
               data-dtype="Number"
               value="{{data.lethalModifier}}"/>
        {{/if}}
    </span>
    {{#if data.lethal}}
    <label>{{localize 'FL.LethalTimeLimit'}}</label>
    <span>
        {{#if (ne data.timeLimit.value null)}}
            <input type="number"
                   name="data.timeLimit.value"
                   data-dtype="Number"
                   value="{{data.timeLimit.value}}"/>
            {{#with (lookup @root.constants.timePeriods data.timeLimit.unit)}}
                {{#if (eq data.timeLimit.value 1)}}
                    {{labelSingular}}
                {{else}}
                    {{labelPlural}}
                {{/if}}
            {{/with}}
            <a class="time-limit-reset" title="{{localize 'FL.ResetToFormula'}}">
                <i class="fas fa-undo"></i>
            </a>
        {{else}}
            <input type="text"
                   name="data.timeLimit.formula"
                   data-dtype="String"
                   value="{{data.timeLimit.formula}}"/>
            <select name="data.timeLimit.unit"
                    data-dtype="String">
                {{#select data.timeLimit.unit}}
                    {{#each @root.constants.timePeriods}}
                        <option value="{{name}}">{{labelPlural}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <a class="time-limit-roll" title="{{localize 'FL.RollFormula'}}">
                <i class="fas fa-dice-d20"></i>
            </a>
        {{/if}}
    </span>
    {{/if}}
    <label>{{localize 'FL.HealingTime'}}</label>
    <span>
        {{#if data.healingTime.value}}
            <input type="number"
                   name="data.healingTime.value"
                   data-dtype="Number"
                   value="{{data.healingTime.value}}"/>
            <a class="healing-time-reset" title="{{localize 'FL.ResetToFormula'}}">
                <i class="fas fa-undo"></i>
            </a>
        {{else}}
            <input type="text"
                   name="data.healingTime.formula"
                   data-dtype="String"
                   value="{{data.healingTime.formula}}"/>
            <a class="healing-time-roll" title="{{localize 'FL.RollFormula'}}">
                <i class="fas fa-dice-d20"></i>
            </a>
        {{/if}}
    </span>
</div>
