<div class="dice dice-pool-selection">
    {{#each pool}}
    <input type="radio" name="{{../name}}" data-dtype="Number" value="{{value}}">
    {{#if isZero}}
    <span class="die d6 skill-pool" style="transform: rotate({{randomRotation}}deg);"></span><!-- TODO -->
    {{else}}
    <span class="die d6 skill-pool {{#if isNegative}}negative{{/if}}" style="transform: rotate({{randomRotation}}deg);">{{label}}</span>
    {{/if}}
    {{/each}}
</div>
