<div class="property-grid">
    <label>{{localize 'FL.Virulence'}}</label>
    <input type="number"
           name="data.virulence"
           data-dtype="Number"
           value="{{data.virulence}}"/>
</div>
