<label>{{localize 'FL.Amount'}}</label>
<input type="number"
       name="data.amount"
       data-dtype="Number"
       value="{{data.amount}}"/>
<label>{{localize 'FL.Equipped'}}</label>
<input type="checkbox"
       name="data.equipped"
       data-dtype="Boolean"
       {{checked data.equipped}}/>
<label>{{localize 'FL.Price'}}</label>
<input type="number"
       name="data.price"
       data-dtype="Number"
       value="{{data.price}}"
       title="{{localize 'FL.PriceHint'}}"/>
<label>{{localize 'FL.Weight'}}</label>
<select name="data.weight"
        data-dtype="String">
    {{#select data.weight}}
    <option value="none">—</option>
    <option value="tiny">{{  localize 'FL.WeightTiny'  }}</option>
    <option value="light">{{ localize 'FL.WeightLight' }}</option>
    <option value="normal">{{localize 'FL.WeightNormal'}}</option>
    <option value="heavy">{{ localize 'FL.WeightHeavy' }}</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    {{/select}}
</select>
<label>{{localize 'FL.Supply'}}</label>
<select name="data.supply"
        data-dtype="String">
    {{#select data.supply}}
    <option value="common">{{  localize 'FL.SupplyCommon'  }}</option>
    <option value="uncommon">{{localize 'FL.SupplyUncommon'}}</option>
    <option value="rare">{{    localize 'FL.SupplyRare'    }}</option>
    <option value="unique">{{  localize 'FL.SupplyUnique'  }}</option>
    {{/select}}
</select>
<label>{{localize 'FL.GearBonus'}}</label>
<span>
    {{> (assetPath 'templates/gear-bonus.handlebars') data.bonus path='data.bonus' editable=true}}
{{!--
    <input type="text"
           name="data.bonus.requirements"
           data-dtype="String"
           value="{{data.bonus.requirements}}"
           placeholder="–"/>
--}}
</span>
<label>{{localize 'FL.AssociatedSkill'}}</label>
<select name="data.bonus.associatedSkill"
        title="{{localize 'FL.AssociatedSkillHint'}}">
    {{#select data.bonus.associatedSkill}}
    <option value="">—</option>
    {{#each constants.attributes}}
    <optgroup label="{{label}}">
        {{#each skills}}
        <option value="{{name}}">{{label}}</option>
        {{/each}}
    </optgroup>
    {{/each}}
    {{/select}}
</select>
<label>{{localize 'FL.Features'}}</label>
<span class="inline-list feature-list">
{{#each data.features}}
    <a data-value="{{this}}">
    {{#with (lookup @root.constants.features this)}}
        <code>{{label}}</code>
    {{/with}}
    </a>
{{/each}}
    <select class="new-entry" data-list="data.features">
        <option value="">—</option>
    {{#each unselectedFeatures}}
        <option value="{{name}}">{{label}}</option>
    {{/each}}
    </select>
</span>
<label>{{localize 'FL.FeatureCustom'}}</label>
{{editor content=data.customFeature target="data.customFeature" button=true owner=owner editable=editable}}
<hr>
<label>{{localize 'FL.Crafting'}}</label>
<label>{{localize 'FL.RawMaterials'}}</label>
<input type="text"
       name="data.crafting.materials"
       data-dtype="String"
       value="{{data.crafting.materials}}"
       placeholder="—"/>
<label>{{localize 'FL.Crafting'}}</label>
<span>
    <select name="data.crafting.timeRequired"
            data-dtype="Number">
        {{#select data.crafting.timeRequired}}
        {{#each @root.constants.durationTypes}}
        {{#if inQuarterDays}}
        <option value="{{inQuarterDays}}">{{label}}</option>
        {{/if}}
        {{/each}}
        {{/select}}
    </select>
    <input type="number"
           name="data.crafting.timeSpent"
           data-dtype="Number"
           value="{{data.crafting.timeSpent}}"/>
</span>
<label>{{localize 'FL.Talent'}}</label>
<input type="text"
       name="data.crafting.talents"
       data-dtype="String"
       value="{{data.crafting.talents}}"
       placeholder="—"/>
<label>{{localize 'FL.Tools'}}</label>
<input type="text"
       name="data.crafting.tools"
       data-dtype="String"
       value="{{data.crafting.tools}}"
       placeholder="—"/>
