{{!data.bonus itemId=... path=... editable=...}}
{{counterBar class='dice small-dice'
             itemId=itemId
             name=path
             hardLimit=10
             omit='hidden'
             placeholder=editable
             style='gearBonus'
             editable=editable}}
{{#if editable}}
<span>+</span>
<a class="dice small-dice die-selection"
   data-name="{{path}}.artifactDie"
   data-die-types="0,8,10,12"></a>
{{else}}
{{#if (gt artifactDie 0)}}
<span>+</span>
<span class="dice small-dice die-selection">
    <i class="die d{{artifactDie}}"></i>
</span>
{{/if}}
{{/if}}
