{{! Parameters: type, label, extraColumnLabels, items }}
{{! Partials: grip, bonusExtra, extraColumns, tags }}
    <span class="header {{type}}">
        <h4>{{localize label}}</h4>
        <span></span>{{! grip column }}
        <span>{{localize 'FL.Bonus'}}</span>
    {{#each extraColumnLabels}}
        <span>{{localize this}}</span>
    {{/each}}
        <span>{{localize 'FL.Weight'}}</span>
        <span class="item-controls">
            <a class="item-control item-create"
               title="{{localize 'FL.Create'}}"
               data-type="{{type}}">
                <i class="fas fa-plus-circle"></i>
            </a>
        </span>
    </span>
{{#each (lookup @root.itemsByType type)}}
    <span data-item-id="{{_id}}"
          style="background-position-x: {{random 15 85 _id}}%;"
          class="item {{../type}}
                 {{~#if data.equipped}} equipped{{/if}}
                 {{~#if (gte data.weightInfo.value 2)}} heavy{{/if}}">
        {{!--<div class="item-image" style="background-image: url('{{img}}')"></div>--}}
        <span>
            <span class="item-amount" data-value="{{data.amount}}">
                <span contenteditable="true"
                      data-name="data.amount">{{data.amount}}</span>×&MediumSpace;
            </span>
            <a class="item-name" title="{{localize 'FL.Edit'}}">
                {{name}}
            </a>
        </span>
        <a class="item-equip" title="{{localize 'FL.EquipHint'}}">
            {{> grip}}
        </a>
        <span>
            {{#if (gt data.bonus.max 0)}}
            <a class="roll-button"
               data-skill="{{data.bonus.associatedSkill}}"
               data-editable-skill="true"
               data-item="{{_id}}"
               data-type="attack">
                {{> (assetPath 'templates/gear-bonus.handlebars') data.bonus itemId=_id path='data.bonus' editable=false}}
            </a>
            {{/if}}
            {{#> bonusExtra}}{{/bonusExtra}}
        </span>
        {{#> extraColumns}}{{/extraColumns}}
        <span>
            <code>{{data.weightInfo.label}}</code>
        </span>
        <span class="item-controls">
            <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
        </span>
        <span class="details" style="display: none">
    {{#if (ne data.description '')}}
            <div class="inline-rich-text">
                {{{data.description}}}
            </div>
    {{/if}}
            <div class="feature-list2">
                {{#> tags}}{{/tags}}
                {{#each data.features}}
                {{#with (lookup @root.constants.features this)}}
                <code>{{label}}</code>
                {{/with}}
                {{/each}}
                {{#if (ne data.customFeature '')}}
                <span class="inline-rich-text">{{{data.customFeature}}}</span>
                {{/if}}
            </div>
        </span>
    </span>
{{/each}}
