<form class="{{cssClass}}" autocomplete="off">
    <header>
        {{#if item.img}}
        <img class="icon" src="{{item.img}}" data-edit="img" title="{{item.name}}">
        {{/if}}
        <div>
            <input type="text"
                   name="name"
                   value="{{item.name}}"
                   placeholder="Name"/>
            <nav class="tabs" data-group="primary">
                <a class="item active" data-tab="description"><span>{{localize 'FL.Description'}}</span></a>
                <a class="item" data-tab="details"><span>{{localize 'FL.Details'}}</span></a>
            </nav>
        </div>
    </header>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{> (detailsTemplate)}}
        </div>
    </section>

    {{!<button type="submit" name="submit" value="1"><i class="far fa-save"></i> Save Changes</button>}}
</form>
