<div class="forbidden-lands chat-card roll"
     {{#if actor}}data-actor-id="{{actor._id}}"{{/if}}
     {{#if item}}data-item-id="{{item._id}}"{{/if}}
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>

{{#if flavor}}
    <header>
        <img src="{{image}}" title="{{imageTitle}}" width="36" height="36"/>
        <h3>{{flavor}}</h3>
    </header>
{{/if}}

    <div class="card-content">
    {{#each dice}}
        <span class="dice"{{#if flavor}} title="{{flavor}}"{{/if}}>
        {{#each results}}
            <span class="die {{classes}}" style="transform: rotate({{randomRotation}}deg); animation-delay: {{animationDelay}}ms;"></span>
        {{/each}}
        </span>
    {{/each}}
    </div>

{{#if resultDescription}}
    <footer class="result-description">
        {{{resultDescription}}}
    </footer>
{{/if}}
</div>
