{{#each items}}
<span class="item"
      data-item-id="{{_id}}">
    <label><a class="item-name">{{name}}</a></label>
    <span>
        {{#with data.data.bonus}}
        {{counterBar value=value
                     softLimit=max
                     hardLimit=10
                     editable=false
                     omit='hidden'
                     class='dice'
                     style='dice'
                     dieType='gear'
                     id=_id}}
        {{#if (gt artifactDie 0)}}
        <span>+</span>
        <span class="dice die-selection">
            <i class="die d{{artifactDie}}"></i>
        </span>
        {{/if}}
        {{/with}}
    </span>
    <span class="item-controls">
        <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
    </span>
</span>
{{/each}}

<span>
    <label>{{localize 'FL.CustomGearBonus'}}</label>
    <span>
        {{#with customGearBonus}}
        <span class="counter-bar dice"
              data-name="customGearBonus"
              data-value="{{value}}"></span>
        <span>+</span>
        <a class="dice die-selection"
              data-name="customArtifactDie"></a>
        {{/with}}
    </span>
</span>
