<form autocomplete="off">
{{#each modules}}
    {{> (template)}}
{{/each}}

    <span>
        <select name="rollMode">
        {{#select rollMode}}
        {{#each rollModes}}
            <option value="{{@key}}">{{localize this}}</option>
        {{/each}}
        {{/select}}
        </select>
        <button data-name="rollButton">
            {{localize 'FL.LetsRoll'}} <i class="fas fa-dice"></i>
        </button>
    </span>
</form>
