<span>
    {{#with attribute}}
    <label>{{label}}</label>
    {{counterBar value=value
                 softLimit=max
                 hardLimit=6
                 editable=false
                 omit='hidden'
                 class='dice'
                 style='dice'
                 dieType='base'
                 id='attribute'}}
    {{/with}}
</span>

<span>
    {{#if editable}}
    <label>
        <select name="{{path}}.skill">
            {{#select skill.name}}
            <option value="">—</option>
            {{#each @root.constants.attributes}}
            <optgroup label="{{label}}">
                {{#each skills}}
                <option value="{{name}}">{{label}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
            {{/select}}
        </select>
    </label>
    {{else}}
    <label>{{skill.label}}</label>
    {{/if}}
    {{counterBar value=skill.value
                 hardLimit=5
                 editable=false
                 omit='off'
                 class='dice'
                 style='dice'
                 dieType='skill'
                 id='skill'}}
</span>
