<div class="property-grid">
    <label>{{localize 'FL.SpellDiscipline'}}</label>
    <span>
        <datalist id="{{item._id}}-magicTalentNames">
        {{#each @root.magicTalentNames}}
            <option value="{{.}}">
        {{/each}}
        </datalist>
        <input type="text"
               name="data.talent"
               data-dtype="String"
               value="{{data.talent}}"
               list="{{item._id}}-magicTalentNames"/>
    </span>
    <label>{{localize 'FL.Type'}}</label>
    <select name="data.type"
            data-dtype="String">
        {{#select data.type}}
        {{#each @root.constants.spellTypes}}
        <option value="{{name}}" title="{{description}}">{{label}}</option>
        {{/each}}
        {{/select}}
    </select>
    <label>{{localize 'FL.SpellInGrimoire'}}</label>
    <input type="checkbox"
           name="data.inGrimoire"
           data-dtype="Boolean"
           {{checked data.inGrimoire}}/>
    <label>{{localize 'FL.SpellRank'}}</label>
    <input type="number"
           name="data.rank"
           data-dtype="Number"
           value="{{data.rank}}"/>
    <label>{{localize 'FL.Range'}}</label>
    <select name="data.range"
            data-dtype="String">
        {{#select data.range}}
        {{#each @root.constants.rangeTypes}}
        <option value="{{name}}" title="{{description}}">{{label}}</option>
        {{/each}}
        {{/select}}
    </select>
    <label>{{localize 'FL.SpellDuration'}}</label>
    <select name="data.duration"
            data-dtype="String">
        {{#select data.duration}}
        {{#each @root.constants.durationTypes}}
        <option value="{{name}}">{{label}}</option>
        {{/each}}
        {{/select}}
    </select>
    <label>{{localize 'FL.SpellIngredients'}}</label>
    <input type="text"
           name="data.ingredients"
           data-dtype="String"
           value="{{data.ingredients}}"
           placeholder="–"/>
</div>
