<form class="{{cssClass}}" autocomplete="off">

    <header>
        <label>
            {{localize 'FL.Salary'}}: {{data.totalSalary}} {{localize 'FL.Silver'}}
        </label>
{{!--
        <div>
            <aside>
                <label>{{localize 'FL.Reputation'}}</label>
                <h1>{{data.reputation}}</h1>
            </aside>
            <aside>
                <label>{{localize 'FL.DefenseRating'}}</label>
                <h1>{{data.defenseRating}}</h1>
            </aside>
        </div>

        <span class="profile-image-wrapper">
            <div class="profile-image">
                <div class="image">
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
                    <div></div>
                </div>
                <label class="center">
                    <input type="text"
                           name="name"
                           data-dtype="String"
                           value="{{actor.name}}"
                           placeholder="Name"/>
                </label>
            </div>
        </span>

        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
--}}
    </header>

    <section class="sheet-body">
        <div class="tab active">
            <div class="details">
                <div>
                    <div class="item-grid stronghold-function-and-hireling-grid">
                        <span class="header stronghold-function">
                            <h4>{{localize 'FL.StrongholdFunction'}}</h4>
                            <span class="item-controls">
                                <a class="item-control item-create"
                                   title="{{localize 'FL.Create'}}"
                                   data-type="strongholdFunction">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                            </span>
                        </span>
                    {{#each itemsByType.strongholdFunction}}
                        <span data-item-id="{{_id}}"
                              style="background-position-x: {{random 15 85 _id}}%;"
                              class="item stronghold-function">
                            <span>
                                <span class="item-amount" data-value="{{data.amount}}">
                                    <span contenteditable="true"
                                          data-name="data.amount">{{data.amount}}</span>×&MediumSpace;
                                </span>
                                <span class="item-name">
                                    {{name}}
                                </span>
                            </span>
                            <span class="item-controls">
                                <a class="item-control item-edit" title="{{localize 'FL.Edit'}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
                            </span>
                        {{#with data.production}}
                        {{#if canProduce}}
                            <span class="line space-between">
                                <a class="stronghold-function-step action">
                                    {{{productionText}}}
                                    <i class="fas fa-step-forward"></i>
                                </a>
                                <span class="item-controls">
                                    {{{intervalText}}}
                                {{#if isProducing}}
                                    <i class="fas fa-cog fa-spin"></i>
                                {{/if}}
                                {{#if stopped}}
                                    <a class="item-control stronghold-function-start">
                                        <i class="fas fa-play"></i>
                                    </a>
                                {{else}}
                                    <a class="item-control stronghold-function-stop">
                                        <i class="fas fa-pause"></i>
                                    </a>
                                {{/if}}
                                </span>
                            </span>
                        {{/if}}
                        {{/with}}
                        {{#if data.associatedHirelings}}
                            <span class="line">
                                <span>{{localize 'FL.StaffedBy'}}</span>
                                <span class="inline-list associated-hirelings-list">
                                {{#each data.associatedHirelings}}
                                    <a data-item-id="{{_id}}">
                                        {{~#if (ne data.amount 1)~}}
                                        {{data.amount}}&MediumSpace;×&MediumSpace;
                                        {{~/if~}}
                                        {{~name~}}
                                    </a>
                                {{/each}}
                                </span>
                            </span>
                        {{/if}}
                        </span>
                    {{/each}}
                        <span class="header stronghold-hireling">
                            <h4>{{localize 'FL.StrongholdHireling'}}</h4>
                            <span>{{localize 'FL.StrongholdFunction'}}</span>
                            <span>{{localize 'FL.Salary'}}</span>
                            <span class="item-controls">
                                <a class="item-control item-create"
                                   title="{{localize 'FL.Create'}}"
                                   data-type="strongholdHireling">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                            </span>
                        </span>
                    {{#each itemsByType.strongholdHireling}}
                        <span data-item-id="{{_id}}"
                              style="background-position-x: {{random 15 85 _id}}%;"
                              class="item stronghold-hireling">
                            <span>
                                <span class="item-amount" data-value="{{data.amount}}">
                                    <span contenteditable="true"
                                          data-name="data.amount">{{data.amount}}</span>×&MediumSpace;
                                </span>
                                <span class="item-name">
                                    {{name}}
                                </span>
                            </span>
                            {{#if data.associatedFunction}}
                            <a class="action inline association">
                                {{data.associatedFunction.name}}
                                <i class="fas fa-times"></i>
                            </a>
                            {{else}}
                            <span></span>
                            {{/if}}
                            <span>
                                {{data.salary}}
                            </span>
                            <span class="item-controls">
                                <a class="item-control item-edit" title="{{localize 'FL.Edit'}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
                            </span>
                        </span>
                    {{/each}}
                    </div>
                    <span class="time-controls">
                        <span>{{localize 'FL.TimeDaysSingular'}} {{day}} {{dayQuarter.label}}</span>
                        <a data-step-size="1" ><i class="fas fa-step-forward"></i>{{localize 'FL.DurationQuarterDay'}}</a>
                        <a data-step-size="4" ><i class="fas fa-step-forward"></i>{{localize 'FL.DurationOneDay'}}</a>
                        <a data-step-size="28"><i class="fas fa-step-forward"></i>{{localize 'FL.DurationOneWeek'}}</a>
                    </span>
                </div>
                <hr style="background-position-y: {{random 15 85 actor._id}}%;">
                <div class="item-grid stronghold-item-grid">
                    <span class="header stronghold-item">
                        <h4>{{localize 'FL.Storage'}}</h4>
                        <span class="item-controls">
                            <a class="item-control item-create-dialog"
                               title="{{localize 'FL.Create'}}">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </span>
                    </span>
                {{#each strongholdItems}}
                    <span data-item-id="{{_id}}"
                          style="background-position-x: {{random 15 85 _id}}%;"
                          class="item stronghold-item">
                        <span>
                            <span class="item-amount" data-value="{{data.amount}}">
                                <span contenteditable="true"
                                      data-name="data.amount">{{data.amount}}</span>×&MediumSpace;
                            </span>
                            <span class="item-name">
                                {{name}}
                            </span>
                        </span>
                        <span class="item-controls">
                            <a class="item-control item-edit" title="{{localize 'FL.Edit'}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize 'FL.Delete'}}"><i class="fas fa-trash"></i></a>
                        </span>
                    </span>
                {{/each}}
                </div>
            </div>{{!details}}
        </div>{{!tab active}}
    </section>
</form>
