<div class="property-grid">
    <label>{{localize 'FL.Amount'}}</label>
    <input type="number"
           name="data.amount"
           data-dtype="Number"
           value="{{data.amount}}"/>
    <label>{{localize 'FL.Reputation'}}</label>
    <input type="number"
           name="data.reputation"
           data-dtype="Number"
           value="{{data.reputation}}"/>
    <label>{{localize 'FL.DefenseRating'}}</label>
    <input type="number"
           name="data.defenseRating"
           data-dtype="Number"
           value="{{data.defenseRating}}"/>
    <hr>
    <label>{{localize 'FL.Production'}}</label>
    <datalist id="{{item._id}}-knownMaterials">
    {{#each @root.knownMaterials}}
        <option value="{{.}}">
    {{/each}}
    </datalist>
    <label>{{localize 'FL.Interval'}}</label>
    <select name="data.production.interval"
            data-dtype="Number">
        {{#select data.production.interval}}
        {{#each @root.constants.intervalList}}
        <option value="{{value}}">{{{label}}}</option>
        {{/each}}
        {{/select}}
    </select>
    <label>{{localize 'FL.Amount'}}</label>
    <input type="number"
           name="data.production.amount"
           data-dtype="Number"
           value="{{data.production.amount}}"/>
    <label>{{localize 'FL.ConsumedMaterial'}}</label>
    <span>
        {{data.production.amount}}&MediumSpace;×&MediumSpace;{{!
        }}<span class="inline-list material-list consumed-material-list">
        {{~#each data.production.consumed~}}
            <a data-value="{{this}}">{{this}}</a> {{localize 'FL.Or'~}}&nbsp;
        {{~/each~}}
            <input type="text"
                   class="new-entry"
                   placeholder="{{localize 'FL.Material'}}"
                   list="{{item._id}}-knownMaterials"/>
        </span>
    </span>
    <label>{{localize 'FL.ProducedMaterial'}}</label>
    <span>
        {{data.production.amount}}&MediumSpace;×&MediumSpace;{{!
        }}<span class="inline-list material-list produced-material-list">
        {{~#each data.production.produced~}}
            <a data-value="{{this}}">{{this}}</a> {{localize 'FL.And'~}}&nbsp;
        {{~/each~}}
            <input type="text"
                   class="new-entry"
                   placeholder="{{localize 'FL.Material'}}"
                   list="{{item._id}}-knownMaterials"/>
        </span>
    </span>
    <hr>
    <label>{{localize 'FL.Construction'}}</label>
    <label>{{localize 'FL.Requirement'}}</label>
    <input type="text"
           name="data.construction.requirement"
           data-dtype="String"
           value="{{data.construction.requirement}}"
           placeholder="—"/>
    <label>{{localize 'FL.RawMaterials'}}</label>
    <input type="text"
           name="data.construction.rawMaterials"
           data-dtype="String"
           value="{{data.construction.rawMaterials}}"
           placeholder="—"/>
    <label>{{localize 'FL.Tools'}}</label>
    <input type="text"
           name="data.construction.tools"
           data-dtype="String"
           value="{{data.construction.tools}}"
           placeholder="—"/>
    <label>{{localize 'FL.Construction'}}</label>
    <span>
        <select name="data.construction.timeRequired"
                data-dtype="Number">
            {{#select data.construction.timeRequired}}
            {{#each @root.constants.durationTypes}}
            {{#if inQuarterDays}}
            <option value="{{inQuarterDays}}">{{label}}</option>
            {{/if}}
            {{/each}}
            {{/select}}
        </select>
        <input type="number"
               name="data.construction.timeSpent"
               data-dtype="Number"
               value="{{data.construction.timeSpent}}"/>
    </span>
</div>
