<div class="property-grid">
    <label>{{localize 'FL.Amount'}}</label>
    <input type="number"
           name="data.amount"
           data-dtype="Number"
           value="{{data.amount}}"/>
    <label>{{localize 'FL.Salary'}}</label>
    <input type="number"
           name="data.salary"
           data-dtype="Number"
           value="{{data.salary}}"
           title="{{localize 'FL.PriceHint'}}"/>
</div>
