<div class="property-grid">
    <label>{{localize 'FL.Type'}}</label>
    <select name="data.type"
            data-dtype="String">
    {{#select data.type}}
    {{#each @root.constants.talentTypes}}
        <option value="{{name}}">{{label}}</option>
    {{/each}}
    {{/select}}
    </select>
    <label>{{localize 'FL.TalentRank'}}</label>
    <input type="number"
           name="data.rank"
           data-dtype="Number"
           value="{{data.rank}}"/>
</div>
