<div class="property-grid">
    <label>{{localize 'FL.Type'}}</label>
    <select name="data.type"
            data-dtype="String">
        {{#select data.type}}
        <option value="melee">{{localize 'FL.WeaponTypeMelee'}}</option>
        <option value="ranged">{{localize 'FL.WeaponTypeRanged'}}</option>
        {{/select}}
    </select>
    <label>{{localize 'FL.Grip'}}</label>
    <select name="data.needsTwoHands"
            data-dtype="Boolean">
        {{#select data.needsTwoHands}}
        <option value="false">{{localize 'FL.GripOneHand' }}</option>
        <option value="true">{{ localize 'FL.GripTwoHands'}}</option>
        {{/select}}
    </select>
    <label>{{localize 'FL.Range'}}</label>
    <select name="data.range"
            data-dtype="String">
        {{#select data.range}}
        {{#each @root.constants.rangeTypes}}
        <option value="{{name}}" title="{{description}}">{{label}}</option>
        {{/each}}
        {{/select}}
    </select>
    <label>{{localize 'FL.Damage'}}</label>
    {{counterBar name='data.damage'
                 class='successes'
                 omit='off'}}
    {{> (assetPath 'templates/gear-details.handlebars')}}
</div>
