.app.forbidden-lands > .window-content,
.chat-card.forbidden-lands,
.editor-content,
.mce-content-body {
    font-family: $default-font;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    line-height: 1.36em;

    @supports (hyphens: auto) {
        hyphens: auto;
        word-break: break-all;
    }

    code {
        @include caps-font;
        font-size: 0.9em;
    }

    h1, h2, h3, h4, h5, h6 {
        border: none;
        @include caps-font;
        font-weight: inherit;
        margin: 0;
    }

    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        margin: 0.5rem 0;
    }
}

// Only in windows oder chat cards:
.app.forbidden-lands > .window-content,
.chat-card.forbidden-lands
{
    .inline-rich-text {
        display: inline-block;

        > :first-child {
            margin-top: 0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }
}

// Only in rich content:
.editor-content,
.mce-content-body {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h4 {
        border-top-color: currentColor;
        border-top-width: 1px;
        border-top-style: solid;
        padding-top: 0.4em;

        // Restrict border to text size:
        width: max-content;
        margin-left:  auto;
        margin-right: auto;
    }

    hr {
        border: none;
        background-image: image('text-divider');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 1.5em;
    }

    ul {
        padding: 0;
        font-family: 'ITC Zapf Dingbats';
        list-style-type: '✥'; // '•' '·';
        padding-left: 1.5ch;

        > li {
            font-family: $default-font;
            padding-left: 1em;
        }
    }

    table {
        margin: 0.5rem 0;
        background: none;
        border: none;
        font-family: $alternative-font;
    }

    thead, tfoot {
        background: none;
        border: none;
        color: inherit;
        text-shadow: none;
        font-weight: bold;
    }

    tbody > tr:nth-child(odd) {
        background: rgba(0, 0, 0, 0.15);
    }
}
