.forbidden-lands.character.sheet {
    min-width: 560px;
    //min-height: 420px;

    form {
        display: flex;
        flex-direction: column;
        align-content: stretch; // stretch secondary axis

        > section {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            > * {
                flex-grow: 1;
            }
        }
    }

    /** OVERVIEW (ATTRIBUTES & PICTURE) **/

    .character-overview {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        > * {
            margin-left: $widget-gap;
            &:first-child {
                margin-left: 0;
            }
        }

        > .attribute-column {
            //flex-grow: 1;
            //flex-shrink: 1;
            //flex-basis: 1px;

            display: flex;
            flex-direction: column;
            //justify-items: flex-start;
            //align-items: stretch;
        }
    }


    /** ATTRIBUTES **/

    .skill > .counter-bar,
    header > .counter-bar {
        display: inline-flex;

        > * {
            z-index: 1;
        }

        position: relative; // new containing block
        &:hover {
            &::before {
                content: $no-break-space;

                $gap: 3px;

                position: absolute;
                top:  $gap;
                left: $gap;
                width:  calc(100% - #{$gap * 2});
                height: calc(100% - #{$gap * 2});

                background-color: rgba(255, 0, 0, 0.5);
                filter: blur($gap);
            }
        }
    }

    .skill > .counter-bar {
        > i {
            width:  1em;
            height: 1em;
            border-radius: 0.5em;
            border-style: solid;
            border-color: currentColor;
            border-width: 2px;
            background-color: #333;

            /*
            font-family: 'forbidden-lands';
            font-weight: bolder;
            font-style: unset;
            font-size: 1.3em;
            margin-top: -6px;
            margin-bottom: -2px;
            &::before {
                content: '0';
            }
            */

            &.off {
                visibility: hidden;
            }
        }
    }

    header > .counter-bar { // attribute counter bar
        $source-width:  65px;
        $source-height: 89px;
        $width:  19px;
        $height: floor($source-height * $width / $source-width);

        > i {
            width:  $width;
            height: $height;

            margin-left: -5px; //-2px; // Länge muss lediglich mindestens -2 sein.
            &:first-child {
                margin-left: 0;
            }

            //background-image: image('checkbox1'),
            //                  url('/ui/parchment.jpg');
            //background-repeat: no-repeat, repeat;
            //background-position: center, 0 0;
            //background-size: 100%, auto;
            background-color: #e1e1d7; // average color of parchment.jpg

            //background-image: image('checkbox1');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            //-webkit-mask-image: image('checkbox1-mask');
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            -webkit-mask-size: 100%;

            //mask-image: image('checkbox1-mask');
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: 100%;

            &.on {
                //background-image: image('checkbox1'),
                //                  linear-gradient(currentColor, currentColor);
                background-color: #333; //currentColor; // drawn below background-image!
            }

            &.hidden {
                visibility: hidden;
            }
        }
    }

    @mixin checkbox($index) {
        .checkbox#{$index} {
            //background-image: url('ui/pngs/checkbox#{$index}.png');
            //-webkit-mask-image: url('ui/pngs/checkbox#{$index}-mask.png');
            //mask-image: url('ui/pngs/checkbox#{$index}-mask.png');
            background-image: image('checkbox#{$index}');
            -webkit-mask-image: image('checkbox#{$index}-mask');
            mask-image: image('checkbox#{$index}-mask');
        }
    }
    @for $i from 1 through 24 {
        @include checkbox($i);
    }

    .attributes {
        display: flex;
        justify-content: space-between;
        position: relative; // new containing block
        z-index: 1;
        // TODO: UNUSED?
    }

    .attribute {
        //$margin: 5px;
        //$padding: 10px;
        $width: 200px;

        margin-top: $widget-gap;
        &:first-child {
            margin-top: 0;
        }

        //margin-top:  $margin;
        //margin-left: $margin;
        //&:last-child {
        //    margin-right: $margin;
        //}

        //> * {
        //    padding: $padding;
        //    &:not(:first-child) {
        //        padding-top: 0;
        //    }
        //}

        header {
            $bg-width:  925px;
            $bg-height: 176px;
            width:  $width;
            height: $width * ($bg-height / $bg-width);

            position: relative; // new containing block

            &::before { // TODO REMOVE
                content: $no-break-space;

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                background-image: image('attribute1'),
                                  url('/ui/parchment-white.jpg');
                background-size: contain, auto;
                background-repeat: no-repeat, repeat;
                //background-position: top left;
                background-position: center;
                background-size: 100%, auto;

                -webkit-mask-image: image('attribute1-mask');
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                //-webkit-mask-position: top left;
                -webkit-mask-position: center;
                -webkit-mask-size: 100%;

                mask-image: image('attribute1-mask');
                mask-size: contain;
                mask-repeat: no-repeat;
                //mask-position: top left;
                mask-position: center;
                mask-size: 100%;
            }

            > label {
                position: absolute;
                bottom: 30%;
                left: 5%;
                font-size: 1.1em;
                font-weight: bold;
            }

            > .counter-bar {
                $bg-bar-width: 462px;
                $bg-bar-right: 56px;
                $bg-bar-height: 113px;
                $bg-bar-bottom: 26px;

                width:  percentage($bg-bar-width  / $bg-width);
                height: percentage($bg-bar-height / $bg-height);
                right:  percentage($bg-bar-right  / $bg-width);
                bottom: percentage($bg-bar-bottom / $bg-height);

                position: absolute;
                justify-content: space-between;
            }

            /* TODO
            &.broken {
                text-shadow: rgba( 85, 0, 0, 0.5) 0 1px 0,
                             rgba(170, 0, 0, 0.5) 0 2px 0,
                             rgba(255, 0, 0, 0.5) 0 3px 0;

                &::before {
                    background-image: image('attribute1'),
                                      linear-gradient(to bottom,
                                                      rgba(100, 0, 0, 0.2),
                                                      rgba(100, 0, 0, 0.2)),
                                      url('/ui/parchment-white.jpg');
                }
            }
            */
        }

        ul {
            //padding: 0;
            margin: 0;
            list-style-type: none;
            padding: 0;
            //padding-left:  1em;
            //padding-right: 1em;
        }

        li {
            @include line;
        }
    }


    /** CHARACTER TAB **/

    .character {
        width: 100%;
        //height: 100%;

        display: block;

        > div {
            display: flex;
            align-items: flex-start;
            //flex-direction: row;

            > * {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 1px;
            }
        }
    }


    /** CONDITIONS & TALENTS TAB **/

    .conditions-and-talents {
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        position: relative; // new containing block (see willpower & experience widget)

        > span {
            flex-grow: 1;
            flex-basis: 0;
            display: flex;
            flex-direction: column;
            padding: 5px;
        }
    }


    /** CONDITIONS **/

    .conditions {
        display: flex;
        justify-content: space-evenly;
        align-content: stretch;
    }

    .condition {
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        position: relative; // new containing block

        input {
            display: none;
        }

        img.color {
            visibility: hidden;
        }

        &:hover img.color,
        input:checked + img.color {
            visibility: visible;
        }

        img.lineart {
            position: absolute;
        }
    }

    $condition-scale: 0.3;
    @mixin condition($width, $height) {
        img {
            width: $width * $condition-scale;
            height: auto; //$width * ($bg-height / $bg-width);
        }
    }

    .sleepless-condition {
        @include condition(180px, 219px);
    }

    .thirsty-condition {
        @include condition(117px, 227px);
    }

    .hungry-condition {
        @include condition(209px, 219px);
    }

    .cold-condition {
        @include condition(142px, 231px);
    }


    /** AFFLICTIONS (CRITICAL INJURIES AND DISEASES) **/

    .affliction-grid {
        grid-template-columns: minmax(max-content, 1fr) max-content;


        > * {
            > :nth-child(1) {
                display: flex;
            }
        }
    }

    //.critical-injury-state {
    //    flex-grow: 1;
    //    margin-left: 1ch;
    //    text-align: right;
    //}


    /** TALENTS **/

    .talents {
        flex-grow: 1;
    }

    .talent-and-spell-grid {
        z-index: 1; // so it lies above the willpower/experience widget

        grid-template-columns: minmax(max-content, 1fr) repeat(3, auto) max-content;

        > .talent {
            > :nth-child(3) {
                grid-column-end: span 2;
            }
        }

        > .spell {
            .item-name {
                margin-left: 2em;
            }
        }
    }

    .spell {
        &.chance-cast,
        &.unknown {
            > * {
                opacity: 0.6;
            }
        }

        &.chance-cast {
            color: saddlebrown;
        }

        &.unknown {
            color: darkred;
        }
    }

    /** WILLPOWER & EXPERIENCE **/

    .willpower-and-experience {
        $scale: 0.25;
        $bg-width:  1780px;
        $bg-height: 1313px;
        $width: $bg-width * $scale;

        width: $width;
        height: $width * ($bg-height / $bg-width);

        position: absolute;
        bottom: 0;
        right: 0;

        pointer-events: none; // see .willpower and .experience

        background-image: image('willpower-and-experience');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 100%;
    }

    .willpower, .experience {
        pointer-events: all;
        position: absolute;

        .counter-bar {
            width:  100%;
            height: 100%;
        }

        i {
            &.off {
                visibility: hidden;
            }
        }

        label {
            position: absolute;
            font-weight: normal; // Sollen Labels per default BOLD sein?
            color: white;
        }

        &:hover {
            i {
                &.off {
                    visibility: visible;
                    box-shadow: none;
                    background: rgba(255, 0, 0, 0.5);
                    filter: blur(3px);
                }
            }
        }
    }

    .willpower {
        width: 140px;
        bottom: 26px;
        right: 135px;
        transform: rotate(7.5deg);

        .counter-bar {
            display: flex;
            justify-content: space-between;
        }

        i {
            $radius: 5px;
            width: $radius*2;
            height: $radius*2;
            border-radius: $radius;
            background-color: orange;
            box-shadow: 0 0 4px 2px red;
        }

        label {
            top: -6px;
            left: -66px;
        }
    }

    .experience {
        width: 29px;
        height: 179px;
        bottom: 33px;
        right: 19px;
        transform: rotate(4.8deg);

        .counter-bar {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
        }

        i {
            $radius: 5px;
            width: $radius*2;
            height: $radius*2;
            border-radius: $radius;
            background-color: darkred;
            box-shadow: 0 0 0px 2px black;

            margin-left:  1px;
            margin-right: 1px;

            &:last-child {
                // So last element sits in the middle:
                margin-left:  auto;
                margin-right: auto;
            }
        }

        label {
            transform: rotate(-90deg);
            top: -60px;
            left: -16px;
        }
    }

    /** ITEMS **/

    .gear-grid {
        grid-template-columns: max-content // 1 NAME
                               max-content // 2 GRIP
                               max-content // 3 BONUS
                               max-content // 4 DAMAGE
                               minmax(auto, 1fr) // 5 TAGS
                               max-content // 6 WEIGHT
                               max-content; // 7 CONTROLS

        .details {
            grid-column-start: 1;
            grid-column-end: -1;

            // TODO: Refactor with .die.placeholder
            background-color: rgba(0, 0, 0, 0.1);
            border-top-style:    inset;
            border-bottom-style: inset;
            border-width: 1px;
            border-color: currentColor;

            $border-width: $effective-tab-padding;
            margin-left:  -$border-width;
            margin-right: -$border-width;
            padding-left:  $border-width;
            padding-right: $border-width;
        }

        > .weapon {
        }

        > .armor,
        > .equipment {
            > :nth-child(3) { // merge BONUS, DAMAGE and TAGS columns
                grid-column-end: span 3;

                > :not(:first-child) {
                    margin-left: $widget-gap;
                }
            }
        }

        /* Toggle equipped state:
        .item-name {
            
        }

        > .equipped {
            .item-name {
                &::before {
                    visibility: visible;
                }
                font-weight: bold;
            }
        }
        */
    }


    /** FOOTER **/

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }


    /** COINS **/

    .coins {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .coin-stack {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        text-align: center;

        > .counter-bar {
            $coin-source-width: 120px;
            $coin-source-height: 74px;
            $coin-width:  20px;
            $coin-height: floor($coin-source-height * $coin-width / $coin-source-width);
            $coin-vertical-overlap:   $coin-height/2;
            $coin-horizontal-overlap: $coin-width /4;
            $coin-real-height: $coin-height - $coin-vertical-overlap;
            $coin-real-width: $coin-width   - $coin-horizontal-overlap;

            height: $coin-real-height * 10;
            width:  $coin-real-width  *  3;

            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: end;
            align-items: center;

            > i {
                width:  $coin-width;
                height: $coin-height;
                background-image: image('coin');
                background-repeat: no-repeat;
                background-size: contain;
                margin-top:  - $coin-vertical-overlap;
                margin-left:  - $coin-horizontal-overlap/2;
                margin-right: - $coin-horizontal-overlap/2;
            }
        }

        > input {
            text-align: center;
            width: 5ch;
        }
    }


    /** RESOURCES **/

    .resources {
        display: flex;
        justify-content: space-evenly;
    }

    .resource {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative; // new containing block

        > label {
            display: none;
        }

        > img.color {
            position: absolute;
            right: 0;
        }

        > img.lineart {
            z-index: 1;
        }

        $resource-scale: 0.2;
        @mixin resource($width, $height) {
            img {
                width: $width * $resource-scale;
                height: auto; //$width * ($bg-height / $bg-width);
            }
        }

        &.resource-food {
            @include resource(274px, 201px);
        }

        &.resource-water {
            @include resource(155px, 226px);
        }

        &.resource-arrows {
            @include resource(110px, 325px);
        }

        &.resource-torches {
            @include resource(142px, 445px);
        }
    }
}
