@font-face {
    font-family: 'IM FELL Great Primer PRO';
    font-style: normal;
    src: url('fonts/IM_FELL_Great_Primer_PRO_Roman.woff2');
}

@font-face {
    font-family: 'IM FELL Great Primer PRO';
    font-style: italic;
    src: url('fonts/IM_FELL_Great_Primer_PRO_Italic.woff2');
}

@font-face {
    font-family: 'IM FELL THREE LINE PICA PRO';
    src: url('fonts/IM_FELL_THREE_LINE_PICA_PRO.woff2');
}

@font-face {
    font-family: 'Forbidden Lands Icons';
    src: url('fonts/Forbidden_Lands_Icons.woff2');
}

$caps-font: 'IM FELL THREE LINE PICA PRO';
$default-font: 'IM FELL Great Primer PRO';
$alternative-font: 'Signika', sans-serif;
$icons-font: 'Forbidden Lands Icons';

@mixin caps-font {
    font-family: $caps-font;
    text-transform: uppercase;
    //&::first-letter {
    //    font-size: 1.2em;
    //}
}
