.forbidden-lands.item.sheet {
    min-width: 460px;
    min-height: 400px;

    form > header {
        display: flex;

        > * {
            flex-grow: 1;
        }

        > img {
            flex-grow: 0;
        }
    }

    input[name="name"] {
        width: 100%;
        text-align: center;
        font-size: 2em;
        // TODO
    }

    .sheet-body, .tab {
        //height: 100%;
    }

    .tab.details {
        align-items: start;
        //overflow-y: scroll;
        //overflow-x: hidden;
    }

    .property-grid {
        display: grid;
        grid-template-columns: min-content auto;
        row-gap: $widget-gap / 2;
        column-gap: $widget-gap;

        > * {
            grid-column: 2;
        }

        > label {
            grid-column: 1;
            text-align: right;
            white-space: nowrap;
            &::after {
                content: ':';
            }
        }

        > .editor {
            height: 7em;
        }
    }
}
