$system-root: "/systems/forbidden-lands";
$icon-size: 24px;
$foreground: black;
$background: white;
$positive-highlight: #18520b;
$negative-highlight: #aa0200;
$border-radius: 3px;
$no-break-space: '\00A0';
$widget-gap: 10px;

@import "fonts.scss";

@function image($name) {
    @return url('ui/#{$name}.svg');
}

@mixin border($side) {
    border-#{$side}-style: solid;
    border-#{$side}-width: 1px;
    border-#{$side}-color: rgb(120, 46, 34);
}

@mixin unstyled-button {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    background: unset;
    border: unset;
    color: unset;
    padding: 0;
    margin: 0;

    // specific to FVTTs base style:
    width: unset;
    border-radius: unset;
    font-size: unset;
    line-height: unset;
    //font-family: unset; // prevents to be used with font icons

    &:hover {
        box-shadow: unset;
        text-shadow: 0 0 5px red;
    }
}

@mixin _paper-border($type, $width) {
    $border-width: $width;
    $border-slice: 130;

    border-image: url('ui/#{$type}-paper-border.svg');
    border-width: $border-width;
    border-style: solid;
    border-image-repeat: round;
    border-image-slice: $border-slice;

    -webkit-mask-box-image-source: image('#{$type}-paper-border-mask');  //url('ui/#{$type}-paper-border-mask.svg');
    -webkit-mask-box-image-width: $border-width;
    -webkit-mask-box-image-repeat: round;
    -webkit-mask-box-image-slice: $border-slice fill;

    mask-border-source: image('#{$type}-paper-border-mask');
    mask-border-width: $border-width;
    mask-border-repeat: round;
    mask-border-slice: $border-slice fill;

    background-image: url('/ui/parchment-white.jpg');
    background-repeat: repeat;
}

$small-paper-border-width: 32px;
@mixin small-paper-border {
    @include _paper-border('small', $small-paper-border-width);
}

$large-paper-border-width: 32px;
@mixin large-paper-border {
    @include _paper-border('large', $large-paper-border-width);
}

@mixin lineGeneric {
    display: flex;
    justify-content: space-between;

    //padding-top:    0.4em;
    //padding-bottom: 0.1em;
    padding-left:   0.25em;
    padding-right:  0.25em;

    background-origin: padding-box;

    &:last-child {
        background: none;
    }
}
$line1-h-width: 2745px;
$line1-h-height: 20px;
@mixin line {
    @include lineGeneric;

    $width: $line1-h-width;
    $height: $line1-h-height;
    $bg-height: 3px;
    $bg-width: $width * $bg-height / $height;
    background-image: image('line1');
    background-size: $bg-width $bg-height;
    background-repeat: repeat-x;
    //background-position-x: 0%;
    background-position-y: 100%;
}
$line1-v-width: 20px;
$line1-v-height: 2745px;
@mixin lineV {
    @include lineGeneric;

    $width: $line1-v-width;
    $height: $line1-v-height;
    $bg-width: 3px;
    $bg-height: $height * $bg-width / $width;
    background-image: image('line1-vertical');
    background-size: $bg-width $bg-height;
    background-repeat: repeat-y;
    background-position-x: 100%;
    //background-position-y: 0%;
}

@import "base.scss";

.forbidden-lands {
    /*
    em {
        font-style: normal;
        @include caps-font;
    }
    */

    img.icon {
        height: 64px;
        width:  64px;
        object-fit: contain;
    }

    input {
        width: initial;
        height: initial;
        border: none;
        padding: 0;
        //background: none;
        color: inherit;
    }

    [contenteditable=true] {
        outline: none;
        border: none;
        user-select: text;
        -webkit-user-select: text;

        // Immitate regular text input:
        border-radius: 3px;
        padding: 1px 3px;
        background-color: rgba(0, 0, 0, 0.05);

        &:focus {
            box-shadow: 0 0 5px red;
        }
    }

    [draggable=true] {
        cursor: grab;
    }

    button {
        cursor: pointer;
        &.unstyled {
            @include unstyled-button;
        }
    }

    .counter-bar {
        > * {
            font-style: inherit;
        }

        &.simple {
            > .off,
            > .hidden {
                visibility: hidden;
            }
        }
    }

    .editable {
        &.counter-bar,
        &.counter-item {
            cursor: pointer;
        }
    }

    .space-between {
        display: flex;
        justify-content: space-between;

        > :not(:first-child) {
            margin-left: 1ch;
        }
    }

    .item-controls {
        text-align: right;
    }

    .item-control {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    .item-delete {
        color: red;
    }
}

@import "roll.scss";
@import "sheet.scss";
@import "character-sheet.scss";
@import "stronghold-sheet.scss";
@import "item-sheet.scss";
