$die-size: 2em;

.forbidden-lands.chat-card {
    > header, > footer {
        padding-left:  3px;
        padding-right: 3px;
        border-top:    2px groove #FFF;
        border-bottom: 2px groove #FFF;
    }

    > header {
        > img {
            flex: 0 0 36px;
            margin-right: 5px;
        }

        > h3 {
            flex: 1;
            margin: 0;
            line-height: 36px;
            font-family: $icons-font;
            color: #4b4a44;
            &:hover {
                color: #111;
                text-shadow: 0 0 10px red;
            }
        }
    }

    > footer {
        > span {
            border-right: 2px groove #FFF;
            padding: 0 5px 0 0;
            font-size: 10px;

            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
    }

    .card-buttons {
        margin-top: 5px;

        span {
            display: block;
            line-height: 28px;
            text-align: center;
            border: 1px solid #CCC;
        }

        button {
            font-size: 12px;
            height: 24px;
            line-height: 20px;
            margin: 2px 0;
        }
    }

    .card-content {
        margin-left:  5px;
        margin-right: 5px;
    }
}

.forbidden-lands {
    .dice {
        font-size: 1.2em;
        font-family: $icons-font;

        &.small-dice {
            font-size: 0.8em;
        }

        &.text-dice {
            font-family: $alternative-font;
            font-weight: bold;
        }

        .die {
            // TODO: There are better solutions to this!
            margin-right:  7px;
            //margin-bottom: 7px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .die {
        vertical-align: middle;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        white-space: pre;

        text-shadow:  1px  1px 2px hsla(0deg, 0%, 100%, 0.5),
                     -1px -1px 2px hsla(0deg, 0%,   0%, 0.5);

        &.base-pool {
            color: hsl(0deg, 0%, 10%);
            background-color: hsl(50deg, 80%, 94%);
        }

        &.skill-pool {
            color: hsl(0deg, 0%, 90%);
            background-color: darkred;
        }

        &.negative {
            color: hsl(0deg, 100%, 80%);
            background-color: darkblue;
        }

        &.gear-pool {
            color: hsl(0deg, 0%, 90%);
            background-color: hsl(0deg, 0%, 10%);
        }

        &::before {
            vertical-align: inherit;
            line-height: 1; //em;
        }

        &.bane::before {
            content: '@'; // bane icon
        }

        &.success-1::before { content: '$'; } // success icon
        &.success-2::before { content: '$\000A$'; }
        &.success-3::before { content: '$\000A$$'; }
        &.success-4::before { content: '$$\000A$$'; }

        &.pushed {
            outline-color: black;
            outline-width: 1px;
            outline-style: dashed;
            outline-offset: 3px;
        }

        $p: 0.0595em;

        &.d6 {
            width:  $die-size;
            height: $die-size;
            border-radius: 3*$p;
            box-shadow: inset  2*$p  2*$p 4*$p white,
                        inset -2*$p -2*$p 4*$p black,
                               0      0  10*$p black;
            &::before { font-size: 1.4em; }
        }

        &.d8, &.d10, &.d12 {
            $die-size: $die-size * 1.5;
            width:  $die-size;
            height: $die-size;
            background-size: $die-size $die-size;
            background-color: unset;
            background-repeat: no-repeat;
            text-shadow: 0 0 10*$p black, 0 0 10*$p black;
            color: white;

            &.success-1::before { font-size: 1.2em; }
            &.success-2::before { font-size: 1.2em; }
            &.success-3::before { font-size: 1.0em; }
            &.success-4::before { font-size: 1.0em; }
        }

        &.d8  { background-image: url("/icons/dice/d8black.svg"); }
        &.d10 { background-image: url("/icons/dice/d10black.svg"); }
        &.d12 { background-image: url("/icons/dice/d12black.svg"); }
    }

    //.dice-pool-selection,
    .die-selection {
        position: relative; // Required so input sees this as its containing block.
                            // See https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block#Identifying_the_containing_block
        text-align: center;

        input {
            width:  $die-size;
            height: $die-size;
            margin: 0;
            font-size: inherit; // as $die-size depends upon the font size

            // Hide:
            position: absolute; // See .sheet-box-bar
            opacity: 0;
            cursor: pointer;
            z-index: 1;
        }
    }

    .die-selection > input:not(:checked):not(:hover) + * { //.die {
        opacity: 0.5;
    }

    //.dice-pool-selection > input:not(.implicitly-checked) + .die,
    .die.placeholder {
        text-shadow: unset;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: unset;
        border-style: inset;
        border-width: 1px;
        border-color: currentColor;
        color: rgba(0, 0, 0, 0.6);
        transform: unset !important;
    }

    .die.crossed-out {
        overflow: hidden;

        &::before {
            $width: 2px;

            content: '';

            border-top-color: red;
            border-top-width: $width;
            border-top-style: solid;

            width:  140%;
            height: 140%;

            transform-origin: 0% 0%;
            transform: translateY(100%) rotate(-45deg) translateY(-$width/2);
        }
    }

    .die.hidden {
        visibility: hidden;
    }

    .counter-bar.successes {
        font-family: $icons-font;

        &:empty::before {
            content: '–';
        }

        > *::before {
            content: '$'; // success icon
        }

        //> .off {
        //    opacity: 0.5;
        //}
    }
}

@keyframes die-wiggling {
    from {
        transform: rotate(-4deg);
    }

    to {
        transform: rotate(4deg);
    }
}

.forbidden-lands.chat-card.roll:hover {
    .die.pushable {
        animation-name: die-wiggling;
        animation-timing-function: ease-in-out;
        animation-duration: 0.1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.forbidden-lands.roll-dialog {

    form {
        display: grid;
        column-gap: $widget-gap;
        row-gap: $widget-gap/2;
        grid-template-columns: max-content 1fr max-content;
        align-items: baseline;
        //align-items: center;

        > * {
            display: contents;

            > * {
                justify-self: start;
            }

            > :nth-child(1) {
                justify-self: end;
                text-align:      right;
                text-align-last: right;
            }
        }

        > :not(.item) {
            > :last-child {
                grid-column-end: span 2;
            }
        }
    }
}
