$tab-overlap: 30px; // How much tab labels overlap the section element
$header-overlap: 30px; // How much the header overlaps the section
$effective-tab-padding: 20px;

.forbidden-lands.sheet {
    &:not(.minimized) {
        box-shadow: 0 0 0px black;
        border-radius: 0;
        background: none;
    }

    > .window-header {
        background: url('/ui/denim075.png') repeat;
        border-radius: 5px; //5px 5px 0 0;
    }

    > .window-content {
        padding: 0;
        background: none;
        overflow: visible;
        color: black;
    }

    > .window-resizable-handle {
        background: none;
        border: none;
        right: $widget-gap; // see form margin
        color: black;
        cursor: nwse-resize;
    }

    form {
        display: flex;
        flex-direction: column;
        align-content: stretch; // stretch secondary axis
        margin-left:  $widget-gap;
        margin-right: $widget-gap;

        > section {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            > * {
                flex-grow: 1;
            }
        }

        > header {
            background: url('/ui/parchment.jpg') repeat;
            padding: $widget-gap;
            padding-bottom: $header-overlap; // + $widget-gap
            border-color: currentColor;
            border-width: 1px;
            border-style: none;
            border-left-style:  solid;
            border-right-style: solid;
        }
    }

    img {
        border: none;
        border-radius: unset;
    }

    h1, h2, h3 {
        text-align: center;
    }

    .checkboxes {
        cursor: pointer;
    }

    .profile-image-wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        position: relative; // new containing block

        display: flex;
        justify-content: center;
    }

    .profile-image {
        position: absolute;
        height: 100%;
        display: flex;
        justify-content: center;

        .image {
            //position: absolute;
            height: 100%;
            @include small-paper-border; // TODO: Nur mask-box
            -webkit-mask-box-image-width: 33px;
            mask-border-width: 33px;
            //background-image: unset;
            //background-color: gray; // TODO
            border-image: unset;
            border-width: 0; // TODO

            > img {
                height: 100%;
                object-position: center 25%;
                object-fit: cover;
            }

            > div {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                @include small-paper-border; // TODO: Nur border-image
                background-image: unset;
                -webkit-mask-image: unset;
                mask-image: unset;

                pointer-events: none;
            }
        }

        label {
            position: absolute;

            $bg-width:  596px;
            $bg-height: 116px;
            $max-width: 250px;
            min-width: 180px;
            max-width: $max-width;
            height: ceil($bg-height * $max-width / $bg-width);

            //-webkit-mask-image: url('ui/label3-mask.svg');
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            //-webkit-mask-position: top left;
            -webkit-mask-position: center;
            -webkit-mask-size: 100%;

            //mask-image: url('ui/label3-mask.svg');
            mask-size: contain;
            mask-repeat: no-repeat;
            //mask-position: top left;
            mask-position: center;
            mask-size: 100%;

            //background-image: url('ui/label3.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            background-color: white;
            //background-image: url('/ui/parchment-white.jpg');
            //background-size: auto;
            //background-repeat: repeat;
            //background-size: auto;

            font-weight: bold;

            input {
                position: absolute;
                top: 18%;
                left: 0;
                width: 100%;
                height: auto;
                border: none;
                padding: 0;

                background: none;
                color: inherit;
                text-align: center;
                font-family: inherit;
                font-size: 1.2em;
                font-weight: inherit;

                &:focus {
                    box-shadow: none;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }

            &.left {
                top: 0; //3%;
                left: 0;
                width: fit-content;

                -webkit-mask-image: image('label5-mask');
                mask-image: image('label5-mask');
                background-image: image('label5');
            }

            &.center {
                bottom: 10%;
                //left: -2%;
                width: 105%;

                -webkit-mask-image: image('label3-mask');
                mask-image: image('label3-mask');
                background-image: image('label3');
            }
        }
    }


    /** TAB BAR **/

    nav.tabs {
        $bar-height: 30px;
        $tab-height: $bar-height + $tab-overlap;

        &:not(:first-child) {
            margin-top: $widget-gap / 2;
        }
        margin-bottom: 4px; // copied from "sheet-tabs"-rule

        height: $bar-height;
        justify-content: space-around;
        line-height: 32px; // copied from "sheet-tabs"-rule

        .item {
            $border-width: 16px;
            $border-slice: 60;

            height: $tab-height;
            flex-grow: 0.1;
            flex-basis: auto;
            flex-shrink: 1;

            border-image: image('tiny-paper-border');
            border-width: $border-width;
            border-style: solid;
            border-image-repeat: round;
            border-image-slice: $border-slice;

            -webkit-mask-box-image-source: image('tiny-paper-border-mask');
            -webkit-mask-box-image-width: $border-width - 1;
            -webkit-mask-box-image-repeat: round;
            -webkit-mask-box-image-slice: $border-slice fill;

            mask-border-source: image('tiny-paper-border-mask');
            mask-border-width: $border-width;
            mask-border-repeat: round;
            mask-border-slice: $border-slice - 1 fill; // -1 to prevent a weird bug (?) showing a line of background below the mask

            background-color: white;

            line-height: unset;

            &.active {
                z-index: 1;
                text-shadow: none;
            }

            transform: translateY(0px);
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(.25,0,0,1);

            &:not(.active):hover {
                transform: translateY(-10px);
            }

            > * {
                position: relative;
                top: - floor($border-width / 3);
            }
        }
    }

    section.sheet-body {
        position: relative; // new containing block

        $real-margin: - $widget-gap; // / 2;
        $shadow-size: 30px;
        $shadow-offset: 5px;
        $shadow-padding: $shadow-size - $shadow-offset;
        $shadow-alpha: 0.5;

        padding: $shadow-padding;
        margin:     -$shadow-padding + $real-margin;
        margin-top: -$shadow-padding - $header-overlap;

        pointer-events: none; // negative margin would otherwise prevent clicking on the tab bar

        &::before {
            content: $no-break-space;

            display: block;

            position: absolute;
            width:  calc(100% - #{$shadow-offset * 2 + $shadow-padding * 2});
            height: calc(100% - #{$shadow-offset * 2 + $shadow-padding * 2});
            margin: $shadow-offset;

            box-shadow: 0 0 $shadow-size rgba(0, 0, 0, $shadow-alpha);
            background-color: rgba(0, 0, 0, $shadow-alpha / 2);
        }
    }

    .tab {
        @include large-paper-border;
        isolation: isolate; // so the shadow goes over the tab buttons
        pointer-events: all; // see .sheet-body above
        overflow: visible; // content can be moved closer to the edge

        &.active {
            display: flex;
        }
        justify-content: stretch;
        align-content: stretch;

        > * {
            flex-grow: 1;
            margin: $effective-tab-padding - $large-paper-border-width;
        }
    }


    /** ITEMS **/

    table.items {
        background: none;
        border: none;
        margin: 0;

        tr {
            @include line;
            padding: 0;
        }

        .item-image {
            background-repeat: no-repeat;
            background-size: contain;
            width:  28px;
            height: 28px;
            margin: 2px;
            cursor: pointer;
            position: relative; // new containing block

            transition-property: transform;
            transition-duration: 0.1s;
            transition-timing-function: ease-in;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .item-grid {
        display: grid;
        column-gap: $widget-gap;

        > * {
            display: contents;

            &::before {
                content: $no-break-space;

                $width: $line1-h-width;
                $height: $line1-h-height;
                $bg-height: 3px;
                $bg-width: $width * $bg-height / $height;

                background-image: image('line1');
                background-size: $bg-width $bg-height;
                background-repeat: repeat-x;
                background-position-x: inherit;

                height: $bg-height;
                margin-top: -$bg-height;

                grid-column-start: 1;
                grid-column-end:  -1;
            }

            > * {
                line-height: 1.7em;
                min-height: 1.7em;
            }

            > .line {
                grid-column-start: 1;
                grid-column-end:  -1;
            }
        }

        .header {
            font-weight: bold;

            &::before {
                content: none;
            }

            > * {
                margin-top: 1em;
            }

            &:first-child > * {
                margin-top: 0;
            }
        }

        .item-name {
            font-weight: bold;
        }

        /*
        .subgrid {
            display: contents;

            .item::before,
            .item > :first-child {
                margin-left: 2em;
            }

            .item:first-child::before {
                content: none;
            }

            //&::after {
            //    content: $no-break-space;
            //    height: $widget-gap;
            //}
        }
        */

        // TODO!
        &.dropzone,
        > .dropzone * {
            background-color: rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }

    .action {
        &:not(.inline) {
            &::before {
                font-family: $default-font;
                content: '☞';
                font-size: 1.5em;
            }
        }

        > i {
            visibility: hidden;
        }

        &:hover {
            > i {
                visibility: visible;
            }
        }
    }

    .item-image {
        background-repeat: no-repeat;
        background-size: contain;
        width:  28px;
        height: 28px;
        margin: 2px;
        cursor: pointer;
        position: relative; // new containing block

        /*
        transition-property: transform;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;

        &:hover {
            transform: scale(1.2);
        }
        */

        /*
        &:hover::before {
            content: $no-break-space;
            position: absolute;
            top:    0;
            left:   0;
            width:  100%;
            height: 100%;

            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('');
        }
        */
    }

    .item-amount {
        > span {
            background-color: rgba(0, 0, 0, 0);
        }

        &:focus-within, &:hover {
            > span {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }

        &[data-value="1"] {
            opacity: 0;
            &:hover, &:focus-within {
                opacity: 1;
            }
        }
    }

    .inline-list {
        > a {
            &:hover {
                text-decoration-line: line-through;
                text-decoration-style: solid;
            }
        }
    }

    .feature-list {
        > * {
            &::after {
                content: ', ';
                font-family: $default-font;
            }

            &:last-child::after {
                content: none;
            }
        }

        code {
            white-space: nowrap;
        }

        p {
            display: inline;
        }
    }

    .feature-list2 {
        > * {
            text-decoration: underline;

            &::after {
                text-decoration: none;
                content: ', ';
                font-family: $default-font;
            }

            &:last-child::after {
                content: none;
            }
        }

        code {
            white-space: nowrap;
        }

        p {
            display: inline;
        }
    }
}
