.forbidden-lands.stronghold.sheet {
    min-width: 560px;
    //min-height: 420px;

    form {
        display: flex;
        flex-direction: column;
        align-content: stretch; // stretch secondary axis

        > section {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            > * {
                flex-grow: 1;
            }
        }
    }

    .details {
        display: flex;
        align-items: flex-start;

        > * {
            flex-grow: 1;
        }

        > hr {
            align-self: stretch;
            flex-grow: 0;

            $width: $line1-v-width;
            $height: $line1-v-height;
            $bg-width: 3px;
            $bg-height: $height * $bg-width / $width;

            background-image: image('line1-vertical');
            background-size: $bg-width $bg-height;
            background-repeat: repeat-y;
            background-position-x: 50%;

            width: $bg-width;
            margin-left:  $widget-gap;
            margin-right: $widget-gap;
        }
    }

    .time-controls {
        display: flex;
        justify-content: space-between;
    }

    .stronghold-function-and-hireling-grid {
        grid-template-columns: repeat(3, minmax(max-content, 1fr)) max-content;

        > .stronghold-function {
            > :nth-child(1) {
                grid-column-end: span 3;
            }
        }

        > .stronghold-hireling {
        }
    }

    .stronghold-item-grid {
        grid-template-columns: minmax(max-content, 1fr) max-content;

        > .stronghold-item {
        }
    }
}
